.build
.claude/scheduled_tasks.lock
*-debug.log
*-error.log
*.bak.*
*.local.json
*.log
*.tsbuildinfo
.artifact
.env
.radio
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
/.nyc_output
/dist
/tmp
coverage
dist
node_modules
